--
-- PostgreSQL database dump
--

\restrict ngq7MfkjhXiLkKMBQgiVZJ5jGHv7Hw01sBSkkx3qbrVZvCiorwd68t2iC8JthNx

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: app; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA app;


ALTER SCHEMA app OWNER TO postgres;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO pg_database_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: EventDifficulty; Type: TYPE; Schema: app; Owner: postgres
--

CREATE TYPE app."EventDifficulty" AS ENUM (
    'BASIC',
    'ADVANCED',
    'STRATEGIC'
);


ALTER TYPE app."EventDifficulty" OWNER TO postgres;

--
-- Name: EventDirection; Type: TYPE; Schema: app; Owner: postgres
--

CREATE TYPE app."EventDirection" AS ENUM (
    'IT',
    'SOCIAL',
    'MEDIA',
    'EDUCATION',
    'VOLUNTEERING',
    'OTHER'
);


ALTER TYPE app."EventDirection" OWNER TO postgres;

--
-- Name: EventStatus; Type: TYPE; Schema: app; Owner: postgres
--

CREATE TYPE app."EventStatus" AS ENUM (
    'ACTIVE',
    'COMPLETED'
);


ALTER TYPE app."EventStatus" OWNER TO postgres;

--
-- Name: OrganizerProfileStatus; Type: TYPE; Schema: app; Owner: postgres
--

CREATE TYPE app."OrganizerProfileStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE app."OrganizerProfileStatus" OWNER TO postgres;

--
-- Name: ParticipationStatus; Type: TYPE; Schema: app; Owner: postgres
--

CREATE TYPE app."ParticipationStatus" AS ENUM (
    'REGISTERED',
    'CHECKED_IN',
    'VERIFIED',
    'REJECTED'
);


ALTER TYPE app."ParticipationStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: app; Owner: postgres
--

CREATE TYPE app."UserRole" AS ENUM (
    'ADMIN',
    'ORGANIZER',
    'PARTICIPANT',
    'OBSERVER'
);


ALTER TYPE app."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Event; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."Event" (
    id text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    direction app."EventDirection" NOT NULL,
    difficulty app."EventDifficulty" DEFAULT 'BASIC'::app."EventDifficulty" NOT NULL,
    "startsAt" timestamp(3) without time zone NOT NULL,
    "endsAt" timestamp(3) without time zone,
    "organizerId" text NOT NULL,
    "basePoints" integer DEFAULT 0 NOT NULL,
    "difficultyFactor" double precision DEFAULT 1 NOT NULL,
    "rewardSummary" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    city text,
    "imageUrl" text,
    "completedAt" timestamp(3) without time zone,
    status app."EventStatus" DEFAULT 'ACTIVE'::app."EventStatus" NOT NULL
);


ALTER TABLE app."Event" OWNER TO postgres;

--
-- Name: EventReward; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."EventReward" (
    id text NOT NULL,
    "eventId" text NOT NULL,
    title text NOT NULL,
    description text,
    points integer DEFAULT 0 NOT NULL,
    "additionalInfo" text,
    place integer DEFAULT 1 NOT NULL,
    "platformPoints" integer DEFAULT 0 NOT NULL
);


ALTER TABLE app."EventReward" OWNER TO postgres;

--
-- Name: EventScoreWeight; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."EventScoreWeight" (
    id text NOT NULL,
    direction app."EventDirection" NOT NULL,
    difficulty app."EventDifficulty" NOT NULL,
    weight double precision DEFAULT 1 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE app."EventScoreWeight" OWNER TO postgres;

--
-- Name: ObserverFavorite; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."ObserverFavorite" (
    id text NOT NULL,
    "observerId" text NOT NULL,
    "participantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE app."ObserverFavorite" OWNER TO postgres;

--
-- Name: OrganizerProfile; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."OrganizerProfile" (
    id text NOT NULL,
    "userId" text NOT NULL,
    bio text,
    "trustScore" double precision DEFAULT 0 NOT NULL,
    "totalEvents" integer DEFAULT 0 NOT NULL,
    "commonRewardTypes" text[],
    "organizationName" text,
    "organizationRank" integer,
    status app."OrganizerProfileStatus" DEFAULT 'PENDING'::app."OrganizerProfileStatus" NOT NULL,
    telegram text,
    "vkUrl" text,
    "websiteUrl" text,
    "logoUrl" text
);


ALTER TABLE app."OrganizerProfile" OWNER TO postgres;

--
-- Name: OrganizerReview; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."OrganizerReview" (
    id text NOT NULL,
    "organizerId" text NOT NULL,
    "authorId" text NOT NULL,
    rating integer NOT NULL,
    comment text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE app."OrganizerReview" OWNER TO postgres;

--
-- Name: ParticipantProfile; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."ParticipantProfile" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "totalScore" integer DEFAULT 0 NOT NULL,
    "currentRank" integer,
    "reserveForecastScore" integer DEFAULT 0 NOT NULL,
    "portfolioSummary" text
);


ALTER TABLE app."ParticipantProfile" OWNER TO postgres;

--
-- Name: Participation; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."Participation" (
    id text NOT NULL,
    "eventId" text NOT NULL,
    "participantId" text NOT NULL,
    status app."ParticipationStatus" DEFAULT 'REGISTERED'::app."ParticipationStatus" NOT NULL,
    "qrCodeToken" text,
    "verifiedAt" timestamp(3) without time zone,
    "organizerComment" text,
    "scoreAwarded" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    place integer
);


ALTER TABLE app."Participation" OWNER TO postgres;

--
-- Name: RatingSnapshot; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."RatingSnapshot" (
    id text NOT NULL,
    "userId" text NOT NULL,
    direction app."EventDirection",
    "totalScore" integer NOT NULL,
    "ratingPosition" integer,
    "eventsCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE app."RatingSnapshot" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."User" (
    id text NOT NULL,
    "kratosIdentityId" text NOT NULL,
    email text NOT NULL,
    "firstName" text,
    "lastName" text,
    city text,
    age integer,
    role app."UserRole" DEFAULT 'PARTICIPANT'::app."UserRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isVerified" boolean DEFAULT false NOT NULL,
    "behanceUrl" text,
    "githubUrl" text,
    headline text,
    school text,
    telegram text,
    "vkUrl" text,
    "avatarUrl" text
);


ALTER TABLE app."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE app._prisma_migrations OWNER TO postgres;

--
-- Name: continuity_containers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.continuity_containers (
    id uuid NOT NULL,
    identity_id uuid,
    name character varying(255) NOT NULL,
    payload jsonb,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    nid uuid
);


ALTER TABLE public.continuity_containers OWNER TO postgres;

--
-- Name: courier_message_dispatches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courier_message_dispatches (
    id uuid NOT NULL,
    message_id uuid NOT NULL,
    status character varying(7) NOT NULL,
    error json,
    nid uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.courier_message_dispatches OWNER TO postgres;

--
-- Name: courier_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courier_messages (
    id uuid NOT NULL,
    type integer NOT NULL,
    status integer NOT NULL,
    body text NOT NULL,
    subject character varying(255) NOT NULL,
    recipient character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    template_type character varying(255) DEFAULT ''::character varying NOT NULL,
    template_data bytea,
    nid uuid,
    send_count integer DEFAULT 0 NOT NULL,
    channel character varying(32)
);


ALTER TABLE public.courier_messages OWNER TO postgres;

--
-- Name: identities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identities (
    id uuid NOT NULL,
    schema_id character varying(2048) NOT NULL,
    traits jsonb NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    nid uuid,
    state character varying(255) DEFAULT 'active'::character varying NOT NULL,
    state_changed_at timestamp without time zone,
    metadata_public jsonb,
    metadata_admin jsonb,
    available_aal character varying(4),
    organization_id uuid
);


ALTER TABLE public.identities OWNER TO postgres;

--
-- Name: identity_credential_identifiers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_credential_identifiers (
    id uuid NOT NULL,
    identifier character varying(255) NOT NULL,
    identity_credential_id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    nid uuid,
    identity_credential_type_id uuid NOT NULL
);


ALTER TABLE public.identity_credential_identifiers OWNER TO postgres;

--
-- Name: identity_credential_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_credential_types (
    id uuid NOT NULL,
    name character varying(32) NOT NULL
);


ALTER TABLE public.identity_credential_types OWNER TO postgres;

--
-- Name: identity_credentials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_credentials (
    id uuid NOT NULL,
    config jsonb NOT NULL,
    identity_credential_type_id uuid NOT NULL,
    identity_id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    nid uuid,
    version integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.identity_credentials OWNER TO postgres;

--
-- Name: identity_login_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_login_codes (
    id uuid NOT NULL,
    code character varying(64) NOT NULL,
    address character varying(255) NOT NULL,
    address_type character(36) NOT NULL,
    used_at timestamp without time zone,
    expires_at timestamp without time zone DEFAULT '2000-01-01 00:00:00'::timestamp without time zone NOT NULL,
    issued_at timestamp without time zone DEFAULT '2000-01-01 00:00:00'::timestamp without time zone NOT NULL,
    selfservice_login_flow_id uuid NOT NULL,
    identity_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    nid uuid NOT NULL
);


ALTER TABLE public.identity_login_codes OWNER TO postgres;

--
-- Name: identity_recovery_addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_recovery_addresses (
    id uuid NOT NULL,
    via character varying(16) NOT NULL,
    value character varying(400) NOT NULL,
    identity_id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    nid uuid
);


ALTER TABLE public.identity_recovery_addresses OWNER TO postgres;

--
-- Name: identity_recovery_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_recovery_codes (
    id uuid NOT NULL,
    code character varying(64) NOT NULL,
    used_at timestamp without time zone,
    identity_recovery_address_id uuid,
    code_type integer NOT NULL,
    expires_at timestamp without time zone DEFAULT '2000-01-01 00:00:00'::timestamp without time zone NOT NULL,
    issued_at timestamp without time zone DEFAULT '2000-01-01 00:00:00'::timestamp without time zone NOT NULL,
    selfservice_recovery_flow_id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    nid uuid NOT NULL,
    identity_id uuid NOT NULL
);


ALTER TABLE public.identity_recovery_codes OWNER TO postgres;

--
-- Name: identity_recovery_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_recovery_tokens (
    id uuid NOT NULL,
    token character varying(64) NOT NULL,
    used boolean DEFAULT false NOT NULL,
    used_at timestamp without time zone,
    identity_recovery_address_id uuid,
    selfservice_recovery_flow_id uuid,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    expires_at timestamp without time zone DEFAULT '2000-01-01 00:00:00'::timestamp without time zone NOT NULL,
    issued_at timestamp without time zone DEFAULT '2000-01-01 00:00:00'::timestamp without time zone NOT NULL,
    nid uuid,
    identity_id uuid NOT NULL,
    token_type integer DEFAULT 0 NOT NULL,
    CONSTRAINT identity_recovery_tokens_token_type_ck CHECK (((token_type = 1) OR (token_type = 2)))
);


ALTER TABLE public.identity_recovery_tokens OWNER TO postgres;

--
-- Name: identity_registration_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_registration_codes (
    id uuid NOT NULL,
    code character varying(64) NOT NULL,
    address character varying(255) NOT NULL,
    address_type character(36) NOT NULL,
    used_at timestamp without time zone,
    expires_at timestamp without time zone DEFAULT '2000-01-01 00:00:00'::timestamp without time zone NOT NULL,
    issued_at timestamp without time zone DEFAULT '2000-01-01 00:00:00'::timestamp without time zone NOT NULL,
    selfservice_registration_flow_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    nid uuid NOT NULL
);


ALTER TABLE public.identity_registration_codes OWNER TO postgres;

--
-- Name: identity_verifiable_addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_verifiable_addresses (
    id uuid NOT NULL,
    status character varying(16) NOT NULL,
    via character varying(16) NOT NULL,
    verified boolean NOT NULL,
    value character varying(400) NOT NULL,
    verified_at timestamp without time zone,
    identity_id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    nid uuid
);


ALTER TABLE public.identity_verifiable_addresses OWNER TO postgres;

--
-- Name: identity_verification_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_verification_codes (
    id uuid NOT NULL,
    code_hmac character varying(64) NOT NULL,
    used_at timestamp without time zone,
    identity_verifiable_address_id uuid,
    expires_at timestamp without time zone DEFAULT '2000-01-01 00:00:00'::timestamp without time zone NOT NULL,
    issued_at timestamp without time zone DEFAULT '2000-01-01 00:00:00'::timestamp without time zone NOT NULL,
    selfservice_verification_flow_id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    nid uuid NOT NULL
);


ALTER TABLE public.identity_verification_codes OWNER TO postgres;

--
-- Name: identity_verification_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.identity_verification_tokens (
    id uuid NOT NULL,
    token character varying(64) NOT NULL,
    used boolean DEFAULT false NOT NULL,
    used_at timestamp without time zone,
    expires_at timestamp without time zone NOT NULL,
    issued_at timestamp without time zone NOT NULL,
    identity_verifiable_address_id uuid NOT NULL,
    selfservice_verification_flow_id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    nid uuid
);


ALTER TABLE public.identity_verification_tokens OWNER TO postgres;

--
-- Name: networks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.networks (
    id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.networks OWNER TO postgres;

--
-- Name: schema_migration; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schema_migration (
    version character varying(48) NOT NULL,
    version_self integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.schema_migration OWNER TO postgres;

--
-- Name: selfservice_errors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.selfservice_errors (
    id uuid NOT NULL,
    errors jsonb NOT NULL,
    seen_at timestamp without time zone,
    was_seen boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    csrf_token character varying(255) DEFAULT ''::character varying NOT NULL,
    nid uuid
);


ALTER TABLE public.selfservice_errors OWNER TO postgres;

--
-- Name: selfservice_login_flows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.selfservice_login_flows (
    id uuid NOT NULL,
    request_url text NOT NULL,
    issued_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    active_method character varying(32) NOT NULL,
    csrf_token character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    forced boolean DEFAULT false NOT NULL,
    type character varying(16) DEFAULT 'browser'::character varying NOT NULL,
    ui jsonb,
    nid uuid,
    requested_aal character varying(4) DEFAULT 'aal1'::character varying NOT NULL,
    internal_context jsonb NOT NULL,
    oauth2_login_challenge uuid,
    oauth2_login_challenge_data text,
    state character varying(255),
    submit_count integer DEFAULT 0 NOT NULL,
    organization_id uuid
);


ALTER TABLE public.selfservice_login_flows OWNER TO postgres;

--
-- Name: selfservice_recovery_flows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.selfservice_recovery_flows (
    id uuid NOT NULL,
    request_url text NOT NULL,
    issued_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    active_method character varying(32),
    csrf_token character varying(255) NOT NULL,
    state character varying(32) NOT NULL,
    recovered_identity_id uuid,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    type character varying(16) DEFAULT 'browser'::character varying NOT NULL,
    ui jsonb,
    nid uuid,
    submit_count integer DEFAULT 0 NOT NULL,
    skip_csrf_check boolean DEFAULT false NOT NULL
);


ALTER TABLE public.selfservice_recovery_flows OWNER TO postgres;

--
-- Name: selfservice_registration_flows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.selfservice_registration_flows (
    id uuid NOT NULL,
    request_url text NOT NULL,
    issued_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    active_method character varying(32) NOT NULL,
    csrf_token character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    type character varying(16) DEFAULT 'browser'::character varying NOT NULL,
    ui jsonb,
    nid uuid,
    internal_context jsonb NOT NULL,
    oauth2_login_challenge uuid,
    oauth2_login_challenge_data text,
    state character varying(255),
    submit_count integer DEFAULT 0 NOT NULL,
    organization_id uuid
);


ALTER TABLE public.selfservice_registration_flows OWNER TO postgres;

--
-- Name: selfservice_settings_flows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.selfservice_settings_flows (
    id uuid NOT NULL,
    request_url text NOT NULL,
    issued_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    identity_id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    active_method character varying(32),
    state character varying(255) DEFAULT 'show_form'::character varying NOT NULL,
    type character varying(16) DEFAULT 'browser'::character varying NOT NULL,
    ui jsonb,
    nid uuid,
    internal_context jsonb NOT NULL
);


ALTER TABLE public.selfservice_settings_flows OWNER TO postgres;

--
-- Name: selfservice_verification_flows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.selfservice_verification_flows (
    id uuid NOT NULL,
    request_url text NOT NULL,
    issued_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    csrf_token character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    type character varying(16) DEFAULT 'browser'::character varying NOT NULL,
    state character varying(255) DEFAULT 'show_form'::character varying NOT NULL,
    active_method character varying(32),
    ui jsonb,
    nid uuid,
    submit_count integer DEFAULT 0 NOT NULL,
    oauth2_login_challenge text,
    session_id uuid,
    identity_id uuid,
    authentication_methods json
);


ALTER TABLE public.selfservice_verification_flows OWNER TO postgres;

--
-- Name: session_devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session_devices (
    id uuid NOT NULL,
    ip_address character varying(50) DEFAULT ''::character varying,
    user_agent character varying(512) DEFAULT ''::character varying,
    location character varying(512) DEFAULT ''::character varying,
    nid uuid NOT NULL,
    session_id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.session_devices OWNER TO postgres;

--
-- Name: session_token_exchanges; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session_token_exchanges (
    id uuid NOT NULL,
    nid uuid NOT NULL,
    flow_id uuid NOT NULL,
    session_id uuid,
    init_code character varying(64) NOT NULL,
    return_to_code character varying(64) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.session_token_exchanges OWNER TO postgres;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id uuid NOT NULL,
    issued_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    authenticated_at timestamp without time zone NOT NULL,
    identity_id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    token character varying(39),
    active boolean DEFAULT false,
    nid uuid,
    logout_token character varying(39),
    aal character varying(4) DEFAULT 'aal1'::character varying NOT NULL,
    authentication_methods jsonb NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Data for Name: Event; Type: TABLE DATA; Schema: app; Owner: postgres
--



--
-- Data for Name: EventReward; Type: TABLE DATA; Schema: app; Owner: postgres
--



--
-- Data for Name: EventScoreWeight; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."EventScoreWeight" (id, direction, difficulty, weight, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ObserverFavorite; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."ObserverFavorite" (id, "observerId", "participantId", "createdAt") FROM stdin;
\.


--
-- Data for Name: OrganizerProfile; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."OrganizerProfile" (id, "userId", bio, "trustScore", "totalEvents", "commonRewardTypes", "organizationName", "organizationRank", status, telegram, "vkUrl", "websiteUrl", "logoUrl") FROM stdin;
cmn51u9rd000elwl63vv0c97j	cmn51u9no000clwl6gma997z7	full stack web-developers	0	1	{}	Olympians	\N	APPROVED	@olympns	\N	olympns.com	\N
cmn525p8h000nlwl6dtxpkjxz	cmn525p4x000llwl61sz246yo	LLLL	0	1	{}	Atlantis	\N	APPROVED	\N	\N	atls.tean	\N
\.


--
-- Data for Name: OrganizerReview; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."OrganizerReview" (id, "organizerId", "authorId", rating, comment, "createdAt") FROM stdin;
\.


--
-- Data for Name: ParticipantProfile; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."ParticipantProfile" (id, "userId", "totalScore", "currentRank", "reserveForecastScore", "portfolioSummary") FROM stdin;
cmn51iyti0001lwl6nikukjfm	cmn51iytf0000lwl6xg1cjf0h	0	\N	0	\N
cmn51l63p0004lwl6gnovehr0	cmn51l63n0003lwl61pq0s4az	0	\N	0	\N
cmn51ner30007lwl6ne942s8i	cmn51ner00006lwl6f6a4t1e4	0	\N	0	2300 pts Dota2
cmn51qby0000blwl6konydzz0	cmn51qbxx000alwl6wq0glxxu	0	\N	0	\N
cmn51u9nq000dlwl6ob3rdk6v	cmn51u9no000clwl6gma997z7	0	\N	0	\N
cmn525p50000mlwl6l28vpbi7	cmn525p4x000llwl61sz246yo	0	\N	0	\N
cmn528vn2000slwl6c3ma4lpt	cmn528vn0000rlwl6pmvs9ih5	0	\N	0	\N
\.


--
-- Data for Name: Participation; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."Participation" (id, "eventId", "participantId", status, "qrCodeToken", "verifiedAt", "organizerComment", "scoreAwarded", "createdAt", "updatedAt", place) FROM stdin;
\.


--
-- Data for Name: RatingSnapshot; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."RatingSnapshot" (id, "userId", direction, "totalScore", "ratingPosition", "eventsCount", "createdAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: app; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: app; Owner: postgres
--



--
-- Data for Name: continuity_containers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.continuity_containers (id, identity_id, name, payload, expires_at, created_at, updated_at, nid) FROM stdin;
\.


--
-- Data for Name: courier_message_dispatches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: courier_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: identities; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: identity_credential_identifiers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: identity_credential_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.identity_credential_types (id, name) FROM stdin;
78c1b41d-8341-4507-aa60-aff1d4369670	password
6fa5e2e0-bfce-4631-b62b-cf2b0252b289	oidc
5e29b036-aa47-457f-9fe6-aa8b854a752b	totp
567a0730-7f48-4dd7-a13d-df87a51c245f	lookup_secret
6b213fa0-e6ad-46cb-8878-b088d2ce2e3c	webauthn
14f3b7e2-8725-4068-be39-8a796485fd97	code
\.


--
-- Data for Name: identity_credentials; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: identity_login_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.identity_login_codes (id, code, address, address_type, used_at, expires_at, issued_at, selfservice_login_flow_id, identity_id, created_at, updated_at, nid) FROM stdin;
\.


--
-- Data for Name: identity_recovery_addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: identity_recovery_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.identity_recovery_codes (id, code, used_at, identity_recovery_address_id, code_type, expires_at, issued_at, selfservice_recovery_flow_id, created_at, updated_at, nid, identity_id) FROM stdin;
\.


--
-- Data for Name: identity_recovery_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.identity_recovery_tokens (id, token, used, used_at, identity_recovery_address_id, selfservice_recovery_flow_id, created_at, updated_at, expires_at, issued_at, nid, identity_id, token_type) FROM stdin;
\.


--
-- Data for Name: identity_registration_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.identity_registration_codes (id, code, address, address_type, used_at, expires_at, issued_at, selfservice_registration_flow_id, created_at, updated_at, nid) FROM stdin;
\.


--
-- Data for Name: identity_verifiable_addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: identity_verification_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: identity_verification_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.identity_verification_tokens (id, token, used, used_at, expires_at, issued_at, identity_verifiable_address_id, selfservice_verification_flow_id, created_at, updated_at, nid) FROM stdin;
\.


--
-- Data for Name: networks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.networks (id, created_at, updated_at) FROM stdin;
ddebb5c2-801e-4dd7-a974-2b60b29a7c0e	2026-03-24 05:31:57.22793	2026-03-24 05:31:57.22793
\.


--
-- Data for Name: schema_migration; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: selfservice_errors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.selfservice_errors (id, errors, seen_at, was_seen, created_at, updated_at, csrf_token, nid) FROM stdin;
\.


--
-- Data for Name: selfservice_login_flows; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: selfservice_recovery_flows; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.selfservice_recovery_flows (id, request_url, issued_at, expires_at, active_method, csrf_token, state, recovered_identity_id, created_at, updated_at, type, ui, nid, submit_count, skip_csrf_check) FROM stdin;
\.


--
-- Data for Name: selfservice_registration_flows; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: selfservice_settings_flows; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.selfservice_settings_flows (id, request_url, issued_at, expires_at, identity_id, created_at, updated_at, active_method, state, type, ui, nid, internal_context) FROM stdin;
\.


--
-- Data for Name: selfservice_verification_flows; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: session_devices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: session_token_exchanges; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.session_token_exchanges (id, nid, flow_id, session_id, init_code, return_to_code, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: EventReward EventReward_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."EventReward"
    ADD CONSTRAINT "EventReward_pkey" PRIMARY KEY (id);


--
-- Name: EventScoreWeight EventScoreWeight_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."EventScoreWeight"
    ADD CONSTRAINT "EventScoreWeight_pkey" PRIMARY KEY (id);


--
-- Name: Event Event_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Event"
    ADD CONSTRAINT "Event_pkey" PRIMARY KEY (id);


--
-- Name: ObserverFavorite ObserverFavorite_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."ObserverFavorite"
    ADD CONSTRAINT "ObserverFavorite_pkey" PRIMARY KEY (id);


--
-- Name: OrganizerProfile OrganizerProfile_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."OrganizerProfile"
    ADD CONSTRAINT "OrganizerProfile_pkey" PRIMARY KEY (id);


--
-- Name: OrganizerReview OrganizerReview_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."OrganizerReview"
    ADD CONSTRAINT "OrganizerReview_pkey" PRIMARY KEY (id);


--
-- Name: ParticipantProfile ParticipantProfile_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."ParticipantProfile"
    ADD CONSTRAINT "ParticipantProfile_pkey" PRIMARY KEY (id);


--
-- Name: Participation Participation_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Participation"
    ADD CONSTRAINT "Participation_pkey" PRIMARY KEY (id);


--
-- Name: RatingSnapshot RatingSnapshot_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."RatingSnapshot"
    ADD CONSTRAINT "RatingSnapshot_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: continuity_containers continuity_containers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.continuity_containers
    ADD CONSTRAINT continuity_containers_pkey PRIMARY KEY (id);


--
-- Name: courier_message_dispatches courier_message_dispatches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courier_message_dispatches
    ADD CONSTRAINT courier_message_dispatches_pkey PRIMARY KEY (id);


--
-- Name: courier_messages courier_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courier_messages
    ADD CONSTRAINT courier_messages_pkey PRIMARY KEY (id);


--
-- Name: identities identities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identities
    ADD CONSTRAINT identities_pkey PRIMARY KEY (id);


--
-- Name: identity_credential_identifiers identity_credential_identifiers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_credential_identifiers
    ADD CONSTRAINT identity_credential_identifiers_pkey PRIMARY KEY (id);


--
-- Name: identity_credential_types identity_credential_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_credential_types
    ADD CONSTRAINT identity_credential_types_pkey PRIMARY KEY (id);


--
-- Name: identity_credentials identity_credentials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_credentials
    ADD CONSTRAINT identity_credentials_pkey PRIMARY KEY (id);


--
-- Name: identity_login_codes identity_login_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_login_codes
    ADD CONSTRAINT identity_login_codes_pkey PRIMARY KEY (id);


--
-- Name: identity_recovery_addresses identity_recovery_addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_addresses
    ADD CONSTRAINT identity_recovery_addresses_pkey PRIMARY KEY (id);


--
-- Name: identity_recovery_codes identity_recovery_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_codes
    ADD CONSTRAINT identity_recovery_codes_pkey PRIMARY KEY (id);


--
-- Name: identity_recovery_tokens identity_recovery_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_tokens
    ADD CONSTRAINT identity_recovery_tokens_pkey PRIMARY KEY (id);


--
-- Name: identity_registration_codes identity_registration_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_registration_codes
    ADD CONSTRAINT identity_registration_codes_pkey PRIMARY KEY (id);


--
-- Name: identity_verifiable_addresses identity_verifiable_addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_verifiable_addresses
    ADD CONSTRAINT identity_verifiable_addresses_pkey PRIMARY KEY (id);


--
-- Name: identity_verification_codes identity_verification_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_verification_codes
    ADD CONSTRAINT identity_verification_codes_pkey PRIMARY KEY (id);


--
-- Name: identity_verification_tokens identity_verification_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_verification_tokens
    ADD CONSTRAINT identity_verification_tokens_pkey PRIMARY KEY (id);


--
-- Name: networks networks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.networks
    ADD CONSTRAINT networks_pkey PRIMARY KEY (id);


--
-- Name: selfservice_errors selfservice_errors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_errors
    ADD CONSTRAINT selfservice_errors_pkey PRIMARY KEY (id);


--
-- Name: selfservice_login_flows selfservice_login_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_login_flows
    ADD CONSTRAINT selfservice_login_requests_pkey PRIMARY KEY (id);


--
-- Name: selfservice_settings_flows selfservice_profile_management_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_settings_flows
    ADD CONSTRAINT selfservice_profile_management_requests_pkey PRIMARY KEY (id);


--
-- Name: selfservice_recovery_flows selfservice_recovery_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_recovery_flows
    ADD CONSTRAINT selfservice_recovery_requests_pkey PRIMARY KEY (id);


--
-- Name: selfservice_registration_flows selfservice_registration_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_registration_flows
    ADD CONSTRAINT selfservice_registration_requests_pkey PRIMARY KEY (id);


--
-- Name: selfservice_verification_flows selfservice_verification_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_verification_flows
    ADD CONSTRAINT selfservice_verification_requests_pkey PRIMARY KEY (id);


--
-- Name: session_devices session_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_devices
    ADD CONSTRAINT session_devices_pkey PRIMARY KEY (id);


--
-- Name: session_token_exchanges session_token_exchanges_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_token_exchanges
    ADD CONSTRAINT session_token_exchanges_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: session_devices unique_session_device; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_devices
    ADD CONSTRAINT unique_session_device UNIQUE (nid, session_id, ip_address, user_agent);


--
-- Name: EventReward_eventId_place_key; Type: INDEX; Schema: app; Owner: postgres
--

CREATE UNIQUE INDEX "EventReward_eventId_place_key" ON app."EventReward" USING btree ("eventId", place);


--
-- Name: EventScoreWeight_direction_difficulty_key; Type: INDEX; Schema: app; Owner: postgres
--

CREATE UNIQUE INDEX "EventScoreWeight_direction_difficulty_key" ON app."EventScoreWeight" USING btree (direction, difficulty);


--
-- Name: ObserverFavorite_observerId_participantId_key; Type: INDEX; Schema: app; Owner: postgres
--

CREATE UNIQUE INDEX "ObserverFavorite_observerId_participantId_key" ON app."ObserverFavorite" USING btree ("observerId", "participantId");


--
-- Name: OrganizerProfile_userId_key; Type: INDEX; Schema: app; Owner: postgres
--

CREATE UNIQUE INDEX "OrganizerProfile_userId_key" ON app."OrganizerProfile" USING btree ("userId");


--
-- Name: ParticipantProfile_userId_key; Type: INDEX; Schema: app; Owner: postgres
--

CREATE UNIQUE INDEX "ParticipantProfile_userId_key" ON app."ParticipantProfile" USING btree ("userId");


--
-- Name: Participation_eventId_participantId_key; Type: INDEX; Schema: app; Owner: postgres
--

CREATE UNIQUE INDEX "Participation_eventId_participantId_key" ON app."Participation" USING btree ("eventId", "participantId");


--
-- Name: Participation_qrCodeToken_key; Type: INDEX; Schema: app; Owner: postgres
--

CREATE UNIQUE INDEX "Participation_qrCodeToken_key" ON app."Participation" USING btree ("qrCodeToken");


--
-- Name: User_email_key; Type: INDEX; Schema: app; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON app."User" USING btree (email);


--
-- Name: User_kratosIdentityId_key; Type: INDEX; Schema: app; Owner: postgres
--

CREATE UNIQUE INDEX "User_kratosIdentityId_key" ON app."User" USING btree ("kratosIdentityId");


--
-- Name: continuity_containers_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX continuity_containers_id_nid_idx ON public.continuity_containers USING btree (id, nid);


--
-- Name: continuity_containers_identity_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX continuity_containers_identity_id_nid_idx ON public.continuity_containers USING btree (identity_id, nid);


--
-- Name: continuity_containers_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX continuity_containers_nid_id_idx ON public.continuity_containers USING btree (nid, id);


--
-- Name: courier_message_dispatches_id_message_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courier_message_dispatches_id_message_id_nid_idx ON public.courier_message_dispatches USING btree (id, message_id, nid);


--
-- Name: courier_messages_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courier_messages_id_nid_idx ON public.courier_messages USING btree (id, nid);


--
-- Name: courier_messages_nid_created_at_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courier_messages_nid_created_at_id_idx ON public.courier_messages USING btree (nid, created_at DESC);


--
-- Name: courier_messages_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courier_messages_nid_id_idx ON public.courier_messages USING btree (nid, id);


--
-- Name: courier_messages_nid_recipient_created_at_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courier_messages_nid_recipient_created_at_id_idx ON public.courier_messages USING btree (nid, recipient, created_at DESC);


--
-- Name: courier_messages_nid_status_created_at_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courier_messages_nid_status_created_at_id_idx ON public.courier_messages USING btree (nid, status, created_at DESC);


--
-- Name: courier_messages_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courier_messages_status_idx ON public.courier_messages USING btree (status);


--
-- Name: identities_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identities_id_nid_idx ON public.identities USING btree (id, nid);


--
-- Name: identities_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identities_nid_id_idx ON public.identities USING btree (nid, id);


--
-- Name: identity_credential_identifiers_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_credential_identifiers_id_nid_idx ON public.identity_credential_identifiers USING btree (id, nid);


--
-- Name: identity_credential_identifiers_identifier_nid_type_uq_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX identity_credential_identifiers_identifier_nid_type_uq_idx ON public.identity_credential_identifiers USING btree (nid, identity_credential_type_id, identifier);


--
-- Name: identity_credential_identifiers_nid_i_ici_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_credential_identifiers_nid_i_ici_idx ON public.identity_credential_identifiers USING btree (nid, identifier, identity_credential_id);


--
-- Name: identity_credential_identifiers_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_credential_identifiers_nid_id_idx ON public.identity_credential_identifiers USING btree (nid, id);


--
-- Name: identity_credential_identifiers_nid_identifier_gin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_credential_identifiers_nid_identifier_gin ON public.identity_credential_identifiers USING gin (nid, identifier public.gin_trgm_ops);


--
-- Name: identity_credential_identifiers_nid_identity_credential_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_credential_identifiers_nid_identity_credential_id_idx ON public.identity_credential_identifiers USING btree (identity_credential_id, nid);


--
-- Name: identity_credential_types_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX identity_credential_types_name_idx ON public.identity_credential_types USING btree (name);


--
-- Name: identity_credentials_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_credentials_id_nid_idx ON public.identity_credentials USING btree (id, nid);


--
-- Name: identity_credentials_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_credentials_nid_id_idx ON public.identity_credentials USING btree (nid, id);


--
-- Name: identity_credentials_nid_identity_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_credentials_nid_identity_id_idx ON public.identity_credentials USING btree (identity_id, nid);


--
-- Name: identity_login_codes_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_login_codes_id_nid_idx ON public.identity_login_codes USING btree (id, nid);


--
-- Name: identity_login_codes_nid_flow_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_login_codes_nid_flow_id_idx ON public.identity_login_codes USING btree (nid, selfservice_login_flow_id);


--
-- Name: identity_recovery_addresses_code_uq_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX identity_recovery_addresses_code_uq_idx ON public.identity_recovery_tokens USING btree (token);


--
-- Name: identity_recovery_addresses_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_addresses_id_nid_idx ON public.identity_recovery_addresses USING btree (id, nid);


--
-- Name: identity_recovery_addresses_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_addresses_nid_id_idx ON public.identity_recovery_addresses USING btree (nid, id);


--
-- Name: identity_recovery_addresses_nid_identity_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_addresses_nid_identity_id_idx ON public.identity_recovery_addresses USING btree (identity_id, nid);


--
-- Name: identity_recovery_addresses_status_via_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_addresses_status_via_idx ON public.identity_recovery_addresses USING btree (nid, via, value);


--
-- Name: identity_recovery_addresses_status_via_uq_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX identity_recovery_addresses_status_via_uq_idx ON public.identity_recovery_addresses USING btree (nid, via, value);


--
-- Name: identity_recovery_codes_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_codes_id_nid_idx ON public.identity_recovery_codes USING btree (id, nid);


--
-- Name: identity_recovery_codes_identity_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_codes_identity_id_nid_idx ON public.identity_recovery_codes USING btree (identity_id, nid);


--
-- Name: identity_recovery_codes_identity_recovery_address_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_codes_identity_recovery_address_id_nid_idx ON public.identity_recovery_codes USING btree (identity_recovery_address_id, nid);


--
-- Name: identity_recovery_codes_nid_flow_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_codes_nid_flow_id_idx ON public.identity_recovery_codes USING btree (nid, selfservice_recovery_flow_id);


--
-- Name: identity_recovery_tokens_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_tokens_id_nid_idx ON public.identity_recovery_tokens USING btree (id, nid);


--
-- Name: identity_recovery_tokens_identity_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_tokens_identity_id_nid_idx ON public.identity_recovery_tokens USING btree (identity_id, nid);


--
-- Name: identity_recovery_tokens_identity_recovery_address_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_tokens_identity_recovery_address_id_idx ON public.identity_recovery_tokens USING btree (identity_recovery_address_id);


--
-- Name: identity_recovery_tokens_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_tokens_nid_id_idx ON public.identity_recovery_tokens USING btree (nid, id);


--
-- Name: identity_recovery_tokens_selfservice_recovery_flow_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_tokens_selfservice_recovery_flow_id_idx ON public.identity_recovery_tokens USING btree (selfservice_recovery_flow_id);


--
-- Name: identity_recovery_tokens_token_nid_used_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_recovery_tokens_token_nid_used_idx ON public.identity_recovery_tokens USING btree (nid, token, used);


--
-- Name: identity_registration_codes_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_registration_codes_id_nid_idx ON public.identity_registration_codes USING btree (id, nid);


--
-- Name: identity_registration_codes_nid_flow_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_registration_codes_nid_flow_id_idx ON public.identity_registration_codes USING btree (nid, selfservice_registration_flow_id);


--
-- Name: identity_verifiable_addresses_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verifiable_addresses_id_nid_idx ON public.identity_verifiable_addresses USING btree (id, nid);


--
-- Name: identity_verifiable_addresses_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verifiable_addresses_nid_id_idx ON public.identity_verifiable_addresses USING btree (nid, id);


--
-- Name: identity_verifiable_addresses_nid_identity_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verifiable_addresses_nid_identity_id_idx ON public.identity_verifiable_addresses USING btree (identity_id, nid);


--
-- Name: identity_verifiable_addresses_status_via_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verifiable_addresses_status_via_idx ON public.identity_verifiable_addresses USING btree (nid, via, value);


--
-- Name: identity_verifiable_addresses_status_via_uq_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX identity_verifiable_addresses_status_via_uq_idx ON public.identity_verifiable_addresses USING btree (nid, via, value);


--
-- Name: identity_verification_codes_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verification_codes_id_nid_idx ON public.identity_verification_codes USING btree (id, nid);


--
-- Name: identity_verification_codes_nid_flow_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verification_codes_nid_flow_id_idx ON public.identity_verification_codes USING btree (nid, selfservice_verification_flow_id);


--
-- Name: identity_verification_codes_verifiable_address_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verification_codes_verifiable_address_nid_idx ON public.identity_verification_codes USING btree (identity_verifiable_address_id, nid);


--
-- Name: identity_verification_tokens_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verification_tokens_id_nid_idx ON public.identity_verification_tokens USING btree (id, nid);


--
-- Name: identity_verification_tokens_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verification_tokens_nid_id_idx ON public.identity_verification_tokens USING btree (nid, id);


--
-- Name: identity_verification_tokens_token_nid_used_flow_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verification_tokens_token_nid_used_flow_id_idx ON public.identity_verification_tokens USING btree (nid, token, used, selfservice_verification_flow_id);


--
-- Name: identity_verification_tokens_token_uq_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX identity_verification_tokens_token_uq_idx ON public.identity_verification_tokens USING btree (token);


--
-- Name: identity_verification_tokens_verifiable_address_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verification_tokens_verifiable_address_id_idx ON public.identity_verification_tokens USING btree (identity_verifiable_address_id);


--
-- Name: identity_verification_tokens_verification_flow_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX identity_verification_tokens_verification_flow_id_idx ON public.identity_verification_tokens USING btree (selfservice_verification_flow_id);


--
-- Name: schema_migration_version_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX schema_migration_version_idx ON public.schema_migration USING btree (version);


--
-- Name: schema_migration_version_self_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schema_migration_version_self_idx ON public.schema_migration USING btree (version_self);


--
-- Name: selfservice_errors_errors_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_errors_errors_nid_id_idx ON public.selfservice_errors USING btree (nid, id);


--
-- Name: selfservice_login_flows_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_login_flows_id_nid_idx ON public.selfservice_login_flows USING btree (id, nid);


--
-- Name: selfservice_login_flows_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_login_flows_nid_id_idx ON public.selfservice_login_flows USING btree (nid, id);


--
-- Name: selfservice_recovery_flows_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_recovery_flows_id_nid_idx ON public.selfservice_recovery_flows USING btree (id, nid);


--
-- Name: selfservice_recovery_flows_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_recovery_flows_nid_id_idx ON public.selfservice_recovery_flows USING btree (nid, id);


--
-- Name: selfservice_recovery_flows_recovered_identity_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_recovery_flows_recovered_identity_id_nid_idx ON public.selfservice_recovery_flows USING btree (recovered_identity_id, nid);


--
-- Name: selfservice_registration_flows_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_registration_flows_id_nid_idx ON public.selfservice_registration_flows USING btree (id, nid);


--
-- Name: selfservice_registration_flows_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_registration_flows_nid_id_idx ON public.selfservice_registration_flows USING btree (nid, id);


--
-- Name: selfservice_settings_flows_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_settings_flows_id_nid_idx ON public.selfservice_settings_flows USING btree (id, nid);


--
-- Name: selfservice_settings_flows_identity_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_settings_flows_identity_id_nid_idx ON public.selfservice_settings_flows USING btree (identity_id, nid);


--
-- Name: selfservice_settings_flows_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_settings_flows_nid_id_idx ON public.selfservice_settings_flows USING btree (nid, id);


--
-- Name: selfservice_verification_flows_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_verification_flows_id_nid_idx ON public.selfservice_verification_flows USING btree (id, nid);


--
-- Name: selfservice_verification_flows_nid_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX selfservice_verification_flows_nid_id_idx ON public.selfservice_verification_flows USING btree (nid, id);


--
-- Name: session_devices_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX session_devices_id_nid_idx ON public.session_devices USING btree (id, nid);


--
-- Name: session_devices_session_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX session_devices_session_id_nid_idx ON public.session_devices USING btree (session_id, nid);


--
-- Name: session_token_exchanges_nid_code_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX session_token_exchanges_nid_code_idx ON public.session_token_exchanges USING btree (init_code, nid);


--
-- Name: session_token_exchanges_nid_flow_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX session_token_exchanges_nid_flow_id_idx ON public.session_token_exchanges USING btree (flow_id, nid);


--
-- Name: sessions_id_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_id_nid_idx ON public.sessions USING btree (id, nid);


--
-- Name: sessions_identity_id_nid_sorted_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_identity_id_nid_sorted_idx ON public.sessions USING btree (identity_id, nid, authenticated_at DESC);


--
-- Name: sessions_logout_token_uq_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX sessions_logout_token_uq_idx ON public.sessions USING btree (logout_token);


--
-- Name: sessions_nid_created_at_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_nid_created_at_id_idx ON public.sessions USING btree (nid, created_at DESC, id);


--
-- Name: sessions_nid_id_identity_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_nid_id_identity_id_idx ON public.sessions USING btree (nid, identity_id, id);


--
-- Name: sessions_token_nid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_token_nid_idx ON public.sessions USING btree (nid, token);


--
-- Name: sessions_token_uq_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX sessions_token_uq_idx ON public.sessions USING btree (token);


--
-- Name: EventReward EventReward_eventId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."EventReward"
    ADD CONSTRAINT "EventReward_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES app."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Event Event_organizerId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Event"
    ADD CONSTRAINT "Event_organizerId_fkey" FOREIGN KEY ("organizerId") REFERENCES app."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ObserverFavorite ObserverFavorite_observerId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."ObserverFavorite"
    ADD CONSTRAINT "ObserverFavorite_observerId_fkey" FOREIGN KEY ("observerId") REFERENCES app."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ObserverFavorite ObserverFavorite_participantId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."ObserverFavorite"
    ADD CONSTRAINT "ObserverFavorite_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES app."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrganizerProfile OrganizerProfile_userId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."OrganizerProfile"
    ADD CONSTRAINT "OrganizerProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES app."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrganizerReview OrganizerReview_authorId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."OrganizerReview"
    ADD CONSTRAINT "OrganizerReview_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES app."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrganizerReview OrganizerReview_organizerId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."OrganizerReview"
    ADD CONSTRAINT "OrganizerReview_organizerId_fkey" FOREIGN KEY ("organizerId") REFERENCES app."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ParticipantProfile ParticipantProfile_userId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."ParticipantProfile"
    ADD CONSTRAINT "ParticipantProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES app."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Participation Participation_eventId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Participation"
    ADD CONSTRAINT "Participation_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES app."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Participation Participation_participantId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Participation"
    ADD CONSTRAINT "Participation_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES app."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RatingSnapshot RatingSnapshot_userId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."RatingSnapshot"
    ADD CONSTRAINT "RatingSnapshot_userId_fkey" FOREIGN KEY ("userId") REFERENCES app."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: continuity_containers continuity_containers_identity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.continuity_containers
    ADD CONSTRAINT continuity_containers_identity_id_fkey FOREIGN KEY (identity_id) REFERENCES public.identities(id) ON DELETE CASCADE;


--
-- Name: continuity_containers continuity_containers_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.continuity_containers
    ADD CONSTRAINT continuity_containers_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: courier_message_dispatches courier_message_dispatches_message_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courier_message_dispatches
    ADD CONSTRAINT courier_message_dispatches_message_id_fk FOREIGN KEY (message_id) REFERENCES public.courier_messages(id) ON DELETE CASCADE;


--
-- Name: courier_message_dispatches courier_message_dispatches_nid_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courier_message_dispatches
    ADD CONSTRAINT courier_message_dispatches_nid_fk FOREIGN KEY (nid) REFERENCES public.networks(id) ON DELETE CASCADE;


--
-- Name: courier_messages courier_messages_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courier_messages
    ADD CONSTRAINT courier_messages_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identities identities_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identities
    ADD CONSTRAINT identities_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_credential_identifiers identity_credential_identifiers_identity_credential_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_credential_identifiers
    ADD CONSTRAINT identity_credential_identifiers_identity_credential_id_fkey FOREIGN KEY (identity_credential_id) REFERENCES public.identity_credentials(id) ON DELETE CASCADE;


--
-- Name: identity_credential_identifiers identity_credential_identifiers_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_credential_identifiers
    ADD CONSTRAINT identity_credential_identifiers_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_credential_identifiers identity_credential_identifiers_type_id_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_credential_identifiers
    ADD CONSTRAINT identity_credential_identifiers_type_id_fk_idx FOREIGN KEY (identity_credential_type_id) REFERENCES public.identity_credential_types(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_credentials identity_credentials_identity_credential_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_credentials
    ADD CONSTRAINT identity_credentials_identity_credential_type_id_fkey FOREIGN KEY (identity_credential_type_id) REFERENCES public.identity_credential_types(id) ON DELETE CASCADE;


--
-- Name: identity_credentials identity_credentials_identity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_credentials
    ADD CONSTRAINT identity_credentials_identity_id_fkey FOREIGN KEY (identity_id) REFERENCES public.identities(id) ON DELETE CASCADE;


--
-- Name: identity_credentials identity_credentials_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_credentials
    ADD CONSTRAINT identity_credentials_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_login_codes identity_login_codes_networks_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_login_codes
    ADD CONSTRAINT identity_login_codes_networks_id_fk FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_login_codes identity_login_codes_selfservice_login_flows_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_login_codes
    ADD CONSTRAINT identity_login_codes_selfservice_login_flows_id_fk FOREIGN KEY (selfservice_login_flow_id) REFERENCES public.selfservice_login_flows(id) ON DELETE CASCADE;


--
-- Name: identity_recovery_addresses identity_recovery_addresses_identity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_addresses
    ADD CONSTRAINT identity_recovery_addresses_identity_id_fkey FOREIGN KEY (identity_id) REFERENCES public.identities(id) ON DELETE CASCADE;


--
-- Name: identity_recovery_addresses identity_recovery_addresses_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_addresses
    ADD CONSTRAINT identity_recovery_addresses_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_recovery_codes identity_recovery_codes_identity_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_codes
    ADD CONSTRAINT identity_recovery_codes_identity_id_fk FOREIGN KEY (identity_id) REFERENCES public.identities(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_recovery_codes identity_recovery_codes_identity_recovery_addresses_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_codes
    ADD CONSTRAINT identity_recovery_codes_identity_recovery_addresses_id_fk FOREIGN KEY (identity_recovery_address_id) REFERENCES public.identity_recovery_addresses(id) ON DELETE CASCADE;


--
-- Name: identity_recovery_codes identity_recovery_codes_networks_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_codes
    ADD CONSTRAINT identity_recovery_codes_networks_id_fk FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_recovery_codes identity_recovery_codes_selfservice_recovery_flows_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_codes
    ADD CONSTRAINT identity_recovery_codes_selfservice_recovery_flows_id_fk FOREIGN KEY (selfservice_recovery_flow_id) REFERENCES public.selfservice_recovery_flows(id) ON DELETE CASCADE;


--
-- Name: identity_recovery_tokens identity_recovery_tokens_identity_id_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_tokens
    ADD CONSTRAINT identity_recovery_tokens_identity_id_fk_idx FOREIGN KEY (identity_id) REFERENCES public.identities(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_recovery_tokens identity_recovery_tokens_identity_recovery_address_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_tokens
    ADD CONSTRAINT identity_recovery_tokens_identity_recovery_address_id_fkey FOREIGN KEY (identity_recovery_address_id) REFERENCES public.identity_recovery_addresses(id) ON DELETE CASCADE;


--
-- Name: identity_recovery_tokens identity_recovery_tokens_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_tokens
    ADD CONSTRAINT identity_recovery_tokens_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_recovery_tokens identity_recovery_tokens_selfservice_recovery_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_recovery_tokens
    ADD CONSTRAINT identity_recovery_tokens_selfservice_recovery_request_id_fkey FOREIGN KEY (selfservice_recovery_flow_id) REFERENCES public.selfservice_recovery_flows(id) ON DELETE CASCADE;


--
-- Name: identity_registration_codes identity_registration_codes_networks_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_registration_codes
    ADD CONSTRAINT identity_registration_codes_networks_id_fk FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_registration_codes identity_registration_codes_selfservice_registration_flows_id_f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_registration_codes
    ADD CONSTRAINT identity_registration_codes_selfservice_registration_flows_id_f FOREIGN KEY (selfservice_registration_flow_id) REFERENCES public.selfservice_registration_flows(id) ON DELETE CASCADE;


--
-- Name: identity_verifiable_addresses identity_verifiable_addresses_identity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_verifiable_addresses
    ADD CONSTRAINT identity_verifiable_addresses_identity_id_fkey FOREIGN KEY (identity_id) REFERENCES public.identities(id) ON DELETE CASCADE;


--
-- Name: identity_verifiable_addresses identity_verifiable_addresses_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_verifiable_addresses
    ADD CONSTRAINT identity_verifiable_addresses_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_verification_codes identity_verification_codes_identity_verifiable_addresses_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_verification_codes
    ADD CONSTRAINT identity_verification_codes_identity_verifiable_addresses_id_fk FOREIGN KEY (identity_verifiable_address_id) REFERENCES public.identity_verifiable_addresses(id) ON DELETE CASCADE;


--
-- Name: identity_verification_codes identity_verification_codes_networks_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_verification_codes
    ADD CONSTRAINT identity_verification_codes_networks_id_fk FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_verification_codes identity_verification_codes_selfservice_verification_flows_id_f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_verification_codes
    ADD CONSTRAINT identity_verification_codes_selfservice_verification_flows_id_f FOREIGN KEY (selfservice_verification_flow_id) REFERENCES public.selfservice_verification_flows(id) ON DELETE CASCADE;


--
-- Name: identity_verification_tokens identity_verification_tokens_identity_verifiable_address_i_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_verification_tokens
    ADD CONSTRAINT identity_verification_tokens_identity_verifiable_address_i_fkey FOREIGN KEY (identity_verifiable_address_id) REFERENCES public.identity_verifiable_addresses(id) ON DELETE CASCADE;


--
-- Name: identity_verification_tokens identity_verification_tokens_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_verification_tokens
    ADD CONSTRAINT identity_verification_tokens_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: identity_verification_tokens identity_verification_tokens_selfservice_verification_flow_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.identity_verification_tokens
    ADD CONSTRAINT identity_verification_tokens_selfservice_verification_flow_fkey FOREIGN KEY (selfservice_verification_flow_id) REFERENCES public.selfservice_verification_flows(id) ON DELETE CASCADE;


--
-- Name: selfservice_errors selfservice_errors_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_errors
    ADD CONSTRAINT selfservice_errors_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: selfservice_login_flows selfservice_login_flows_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_login_flows
    ADD CONSTRAINT selfservice_login_flows_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: selfservice_settings_flows selfservice_profile_management_requests_identity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_settings_flows
    ADD CONSTRAINT selfservice_profile_management_requests_identity_id_fkey FOREIGN KEY (identity_id) REFERENCES public.identities(id) ON DELETE CASCADE;


--
-- Name: selfservice_recovery_flows selfservice_recovery_flows_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_recovery_flows
    ADD CONSTRAINT selfservice_recovery_flows_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: selfservice_recovery_flows selfservice_recovery_requests_recovered_identity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_recovery_flows
    ADD CONSTRAINT selfservice_recovery_requests_recovered_identity_id_fkey FOREIGN KEY (recovered_identity_id) REFERENCES public.identities(id) ON DELETE CASCADE;


--
-- Name: selfservice_registration_flows selfservice_registration_flows_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_registration_flows
    ADD CONSTRAINT selfservice_registration_flows_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: selfservice_settings_flows selfservice_settings_flows_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_settings_flows
    ADD CONSTRAINT selfservice_settings_flows_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: selfservice_verification_flows selfservice_verification_flows_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.selfservice_verification_flows
    ADD CONSTRAINT selfservice_verification_flows_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- Name: session_devices session_metadata_nid_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_devices
    ADD CONSTRAINT session_metadata_nid_fk FOREIGN KEY (nid) REFERENCES public.networks(id) ON DELETE CASCADE;


--
-- Name: session_devices session_metadata_sessions_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_devices
    ADD CONSTRAINT session_metadata_sessions_id_fk FOREIGN KEY (session_id) REFERENCES public.sessions(id) ON DELETE CASCADE;


--
-- Name: sessions sessions_identity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_identity_id_fkey FOREIGN KEY (identity_id) REFERENCES public.identities(id) ON DELETE CASCADE;


--
-- Name: sessions sessions_nid_fk_idx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_nid_fk_idx FOREIGN KEY (nid) REFERENCES public.networks(id) ON UPDATE RESTRICT ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ngq7MfkjhXiLkKMBQgiVZJ5jGHv7Hw01sBSkkx3qbrVZvCiorwd68t2iC8JthNx

