backend/node_modules
backend/dist
backend/.env
backend/.env.local
docker/.env
backend/.DS_Store
backend/coverage
backend/.nestjs-cli.json
backend/npm-debug.log*
backend/yarn-error.log*
backend/.idea
backend/.vscode
