POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=efinder
POSTGRES_PORT=5432

KRATOS_DSN=postgres://postgres:postgres@postgres:5432/efinder?sslmode=disable
KRATOS_PUBLIC_PORT=4433
KRATOS_ADMIN_PORT=4434

MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
